*,*::before,*::after{
  box-sizing: border-box;
  font-family: Gotham Rounded,sans-serif;
  font-weight: normal;
}
body{
  padding:0;
  margin:0;
  background: linear-gradient(to right,#00AAFF,#00FB6C);
  opacity: 0.80;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  background-color:#e4c9ed;

}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  /* background:#35424a; */
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#ffffff 1px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:400;
}

header a:hover{
  color:#cccccc;
  font-weight:400;
}

/* Showcase */
#showcase{
  min-height:100%;
  background-image:url('../img/img_2.jpeg');
  text-align:center;
  color:#ffffff;

}

#showcase h1{

  font-size:40px;
  margin-bottom:5px;
  color: #FF00FF;
}
#showcase h1:hover{transform: rotate3d(10,7,9,10deg);}
#showcase p{
  font-size:20px;
  color: #282e34;
}

/* Newsletter */
#newsletter{
  padding:5px;
  color:#facdff;
  background-color:#ddd;

}

#newsletter h1{
  float:left;
  color:#282e34;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}

#newsletter form {
  float:right;
  margin-top:10px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:10px;
  opacity: 1;

}

#boxes .box{
  float:left;
  text-align: center;
  width:18%;
  margin-left: 2px;
  margin-right: 2px;
  height: 260px;
}

#boxes .box img{
   width:150PX;
   height: 150px;
   transition: linear 2s;
}
#boxes .box img:hover{transform: scale(3);}

#boxes .box h5{
font: verdana bold;
font-size: 12PX;
font-style: normal;
color: #282e34;


}
/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#d44432;
}

footer{
  padding:5px;
  margin-top:5px;
  color:#666;

  text-align: center;
}
footer p{
  color:#282e34;
}
footer h5{
  float: center;
  position: relative;
  }

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
